<h2>Doctors Available</h2>

<table class="table">

<tr>
<th>Name</th>
<th>Specialization</th>
<th>Action</th>
</tr>

<tr>
<td>Dr John</td>
<td>Cardiologist</td>
<td>
<a href="/Appointment/Book" class="btn btn-primary">Book</a>
</td>
</tr>

<tr>
<td>Dr Smith</td>
<td>Dermatologist</td>
<td>
<a href="/Appointment/Book" class="btn btn-primary">Book</a>
</td>
</tr>

</table>