@{
    ViewData["Title"] = "No Doctor Available";
}

<div style="text-align:center;margin-top:150px">

<h1 style="color:red">
No Doctor Available
</h1>

<h3>
@ViewBag.Message
</h3>

<br><br>

<a href="/" style="
padding:15px 30px;
background:#3498db;
color:white;
text-decoration:none;
border-radius:10px;
font-size:18px;">
Go Back
</a>

</div>