@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">

    <h2>Welcome to your Dashboard</h2>

    <p>You are successfully logged in.</p>

    <br />

    <a href="/Doctor/Index" class="btn btn-primary">
        Find Doctors
    </a>

    <br /><br />

    <a href="/Dashboard/Logout" class="btn btn-danger">
        Logout
    </a>

</div>